.h9-font {
    font-size: 120%;
    font-weight: bold;
}

.address {
    font-style: italic;
}

.form-align {
    align-items: center!important;
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.uber-color2 {
    background-color: black;
    color: white!important;
}

.description-txt {
    text-align: left!important;
    margin: 7px;
    font-size: 100%;
}

.title-bold {
    font-weight: bold;
    font-size: 120%;
}

.responsive-image {
    position: relative;
    max-width: 100%;
}

.question {
    font-weight: bold;
    font-size: 100%;
}