.uber-color {
    background-color: cornflowerblue;
    color: white!important;
}

.responsive-image {
    position: relative;
    max-width: 100%;
}

.h9-font {
    font-size: x-large;
    font-weight: bold;
}

.address {
    font-style: italic;
}

.form-align {
    align-items: center!important;
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.form-box {
    width: 50%;
    margin-left: 25%;
}

.button-footer {
    margin: 15px;
}