.align-card {
    text-align: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
	outline: none!important;
}

.child-card {
    background-color: #1d2124;
    border-color: #1d2124;
    width: 50%;
    align-content: center;
    align-self: center;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
}

.add-child {
    width: 25%;
    align-self: center;
    background-color: #007bff;
    border-top-color: #007bff;
    margin-bottom: 1%;
    outline: none;
}

.btn-mod {
    margin : 1%;
}

.options-center {
    margin: 1%;
    vertical-align: middle;
}

.align {
    text-align: center;
}

.child-field {
    margin-top: 1%;
}

.save-child {
    background-color: #007bff;
    border-color: #007bff;
}

.change-child {
    margin-bottom: 1%;
    outline: none;
    margin-left: 1%;
}

.address-params {
    font-style: italic;
}

.uber-color2 {
    background-color: #1d2124;
    color: white!important;
}

.form-box-error {
    border: 2px solid red!important;
}

.size-icon {
    font-size: 20px;
}

.custom-modal-style {
    width: 100%;
    min-width: 100%;
    height: auto;
}

.tag-header {
    width: fit-content!important;
    height: fit-content!important;
    font-size: 10%;
    text-align: center;
}

.margin-footer {
    margin-bottom: 1.5%!important;
}
