.uber-color2 {
    background-color: #1d2124;
    color: white!important;
}

.mrg-begin {
    margin-top: 2%;
}

.left-filter {
    float: left;
    height: 100%;
    margin: 1%;
    width: 15%;
}

.filter-align {
    text-align: left;
}

.test {
    margin-left: 0;
    float: left;
    margin-bottom: 2%;
}

.summary {
    clear: both;
}