.title-intro {
    margin-top: 2%;
    margin-left: 2%;
    text-align: left!important;
}

.image-border {
    margin-bottom: 2%;
}

.title-products {
    font-weight: bold;
    font-size: 120%;
}

.fixed-size {
    overflow: hidden;
}