html, body {
  height:100%;
  padding:0;
  margin:0;
  font-family: Raleway,sans-serif;
  color:black;
  align-items: center;
  background-color: black;
}
h1 {
  margin:0;
  display: table-cell;
  vertical-align: middle;
  text-align:center;
  letter-spacing: -4px;
  font-size:100px;
  font-weight:700;
  text-transform:uppercase;
  text-shadow:1px 1px 1px rgba(0,0,0,0.5);
  color: white;
}
h1::before, h1::after {
    width: 220px;
    height: 1px;
    border-top:4px double #FFF;
    content:"";
    display:block;
    margin:20px auto;
}
h3 {
  font-family: fantasy;
  font-size: 20px;
  color: white;
}
header {
  height: calc(100% - 65px);
  background:#333;

  -webkit-perspective: 1500px;
  perspective: 1500px;
  perspective-origin: center bottom;
}
li {
  list-style-type: none;
}
label.notready {
  text-decoration: line-through;
  text-decoration-color: red;
}

.hero {
  position:relative;
  background-size:cover;
  background-image: url("../pictures/Fond.png");
  height: 100%;
  width:100%;

  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

  display:table;
}
.hero .overlay {
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  opacity:0;
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
}
.sticky-wrapper {
  height:65px;
}
.nextnav {
  margin-top: 200px;
}
.centerbloc {
  margin-top: 70px;
  text-align: center;
}
.module:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 30px;
}

.master {
     text-align: center;
}
.slave {
     display: inline-block;
}

.smartnav {
  width: 400px;
  height: 30px;
  background: rgba(99, 53, 53, 0.5);
  margin-top: -120px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
}
.usernav {
  width: 460px;
  height: 30px;
  background: rgba(119, 101, 101, 0.5);
  margin-top: -85px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 1880px;
}
.checkB {
  margin-right: 15px;
}

nav {
  background: #020202;
  height:62px;
  z-index: 99;
}
nav.fixed {
  position:fixed;
  top:0;
  left:0;
  right:0;
}
@media only screen and (max-width: 580px) {
  nav {
    background: #020202;
    height:120px;
    z-index: 99;
  }
}
nav ul {
  list-style:none;
  padding:0;
  margin:0;
  text-align:center;
}
nav ul li {
  display:inline-block;
  color: white;
}
nav ul a {
  height:65px;
  line-height:65px;
  padding:10px 15px;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration:none;
}

.smartnav  ul li {
  display:inline-block;
    color: white;
}
.smartnav  ul a {
  height:65px;
  line-height:65px;
  padding:10px 15px;
  color: white;


  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration:none;
}
.usernav  ul li {
  display:inline-block;
  color: white;
}
.usernav  ul a {
  height:30px;
  line-height:30px;
  padding:10px 15px;
  color: white;
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration:none;
}

section {
  height: 100%;
  width:100%;
  display:table;
}
section#focus {
  background-color: #a09e9e;
}

.switch-input {
  display: none;
}
.switch-label {
  position: relative;
  display: inline-block;
  min-width: 112px;
  cursor: pointer;
  font-weight: 500;
  text-align: left;
  padding: 16px 0 16px 44px;
}
.switch-label:before, .switch-label:after {
  content: "";
  position: absolute;
  margin: 0;
  outline: 0;
  top: 50%;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.switch-label:before {
  left: 1px;
  width: 34px;
  height: 14px;
  background-color: red;
  border-radius: 8px;
}
.switch-label:after {
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FAFAFA;
  border-radius: 50%;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
.switch-label .toggle--on {
  display: none;
}
.switch-label .toggle--off {
  display: inline-block;
}
.switch-input:checked + .switch-label:before {
  background-color: #A5D6A7;
}
.switch-input:checked + .switch-label:after {
  background-color: #4CAF50;
  -ms-transform: translate(80%, -50%);
  -webkit-transform: translate(80%, -50%);
  transform: translate(80%, -50%);
}
.switch-input:checked + .switch-label .toggle--on {
  display: inline-block;
}
.switch-input:checked + .switch-label .toggle--off {
  display: none;
}

.skills {
  list-style: none;
  font-size: 20px;
  padding: 0;
}
.skills .skill {
  display: block;
  position: relative;
  height: 60px;
  margin: 10px auto;
  width: 90%;
}
@media only screen and (min-width: 900px) {
  .skills .skill {
    display: inline-block;
    width: 82%;
    margin: 10px;
  }
}
.skills .skill:before, .skills .skill:after {
  content: "";
  position: absolute;
  border-radius: 20px;
  margin-top: 40px;
}
.skills .skill:before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  background: #eeeeee;
}
.skills .skill:after {
  background-color: #2ea994;
  background: repeating-linear-gradient(-45deg, #2ea994, #2ea994 10px, #31b59f 10px, #31b59f 20px);
  height: 16px;
  top: 2px;
  right: 95%;
  bottom: 2px;
  left: 2px;
  -webkit-animation: fill 2s both;
  -moz-animation: fill 2s both;
  animation: fill 2s both;
}
.skills .skill:nth-child(1):after {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.skills .skill:nth-child(2):after {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
.skills .skill:nth-child(3):after {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.skills .skill:nth-child(4):after {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}
.skills .skill:nth-child(5):after {
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
.skills .skill:nth-child(6):after {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s;
}
.skills .skill:nth-child(7):after {
  -webkit-animation-delay: 3.5s;
  -moz-animation-delay: 3.5s;
  animation-delay: 3.5s;
}
.skills .skill:nth-child(8):after {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  animation-delay: 4s;
}
.skills .skill:nth-child(9):after {
  -webkit-animation-delay: 4.5s;
  -moz-animation-delay: 4.5s;
  animation-delay: 4.5s;
}
.skills .skill:nth-child(10):after {
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  animation-delay: 5s;
}
.skills .skill:nth-child(11):after {
  -webkit-animation-delay: 5.5s;
  -moz-animation-delay: 5.5s;
  animation-delay: 5.5s;
}
.skills .skill:nth-child(12):after {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  animation-delay: 6s;
}

.skills .skill[aria-label="0"]:after {
  right: 0%;
}
.skills .skill[aria-label="10"]:after {
  right: 10%;
}
.skills .skill[aria-label="20"]:after {
  right: 20%;
}
.skills .skill[aria-label="30"]:after {
  right: 30%;
}
.skills .skill[aria-label="40"]:after {
  right: 40%;
}
.skills .skill[aria-label="50"]:after {
  right: 50%;
}
.skills .skill[aria-label="60"]:after {
  right: 60%;
}
.skills .skill[aria-label="70"]:after {
  right: 70%;
}
.skills .skill[aria-label="80"]:after {
  right: 80%;
}
.skills .skill[aria-label="90"]:after {
  right: 90%;
}
.skills .skill[aria-label="100"]:after {
  right: 100%;
}

.scalesleft {
  position: absolute;
  left: O;
}
.scalesright {
  position: absolute;
  right: O;
}

@-webkit-keyframes fill {
  from {
    right: 100%;
  }
}
@-moz-keyframes fill {
  from {
    right: 100%;
  }
}
@keyframes fill {
  from {
    right: 100%;
  }
}
