*, *:before, *:after {
  box-sizing: inherit;
}
h1 {
  margin: 0 0 2em;
  color: #fff;
  font-size: 1.25em;
  font-weight: 900;
}
a {
  font-size: 20px;
  color: white;
}
p {
  color: #fff;
  font-size: 12px;
}
p a {
  background: rgba(255, 255, 255, 0);
  border-bottom: 1px solid;
  color: #fff;
  line-height: 1.4;
  padding: .25em;
  text-decoration: none;
}

html, body {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #1c1c1c;
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
}
html #background, body #background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  overflow: hidden;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
html .main, body .main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
}
html .main #content, body .main #content {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  min-height: 24px;
  height: 100%;
  position: relative;
  text-align: center;
  top: 33%;
}
html .main #content .title, body .main #content .title {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
html .main #content .title span, body .main #content .title span {
  font-size: 4rem;
}
html .main #content p, body .main #content p {
  color: #e6dbae;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  margin: 0 auto;
  padding: 0;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
html .main #content p:last-child, body .main #content p:last-child {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 3em auto;
  padding: 0;
  letter-spacing: 0.1rem;
}
html .main #content p:last-child > a, body .main #content p:last-child > a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease-in;
}
html .main #content p:last-child > a:hover, body .main #content p:last-child > a:hover {
  color: #fff;
}
html .main #content section, body .main #content section {
  color: #fff;
  margin: 0 auto;
  line-height: 24px;
  font-size: 1rem;
  font-weight: 700;
}
html .main #content section ul, body .main #content section ul {
  list-style-type: none;
  margin-bottom: 0;
  margin-left: 0;
}
html .main #content section ul li, body .main #content section ul li {
  display: inline-block;
  margin-right: 2rem;
  width: 6rem;
}
html .main #content section .timenumbers, body .main #content section .timenumbers {
  display: block;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0 auto;
  text-align: center;
}
html .main #content section p.timedescription, body .main #content section p.timedescription {
  font-size: 0.5rem;
  font-variant: small-caps;
  line-height: 1.5rem;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 0px;
}

.iconesize {
  width: 170px;
}
.buttons {
  display: flex;
  flex-direction: column;
  height: 15%;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.btn {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0;
}
.btn:hover {
  text-decoration: none;
}
.btn:after, .btn:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}
.btn:hover:after,.btn:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
}
.btn:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}
.btn1 {
  position: absolute;
  left: 70px;
}
.btn2 {
  position: absolute;
  right: 70px;
}

#nomobile {
    display: contents;
}
#mobile {
    display: none;
}

@media only screen and (max-width: 521px) {
  html .main #content .title, body .main #content .title {
    color: white;
    font-family: "Quicksand", sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  html .main #content .title span, body .main #content .title span {
    font-size: 1.5em;
  }
  #nomobile {
	  display: none;
  }
  #mobile {
	  display: contents;
  }
}
